<h1>Edit Pokemon</h1>

<h2>Edit <%= @pokemon.name %></h2>

<%= form_for @pokemon do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :pokemon_type %>
    <%= f.select :pokemon_type, options_for_select(@types, @pokemon.pokemon_type), {}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :level %>
    <%= f.number_field :level, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
  <%= button_to "Back to Index", pokemons_index_path, method: :get, class: "btn btn-secondary" %>


<% end %>