
<h1>Pokemon Details</h1>

<p><strong>Name:</strong> <%= @pokemon.name %></p>

<p><strong>Pokemon Type:</strong> <%= @pokemon.pokemon_type %></p>

<p><strong>Level :</strong> <%= @pokemon.level %></p>

<p><strong>Max Health :</strong> <%= @pokemon.max_health %></p>


<%= link_to "Back to Index", pokemons_path, class: "btn btn-secondary" %>

